body {
	background: #111;
	font-family: Courier;
}

.alert {
	color: red;
	font-weight: bold;
}

/*
 * Message, displayed top of window, transparent bg
 */
#message {
	position: fixed;
	top: 10px;
	width: 800px;
	height: 40px;
	line-height: 40px;
	padding: 10px;
}
#success {
	width: 780px;
	height: 30px;
	line-height: 30px;
	padding: 10px 50px;
	background: rgba(0, 200, 0, 0.5);
	border: 2px dashed green;
}

/*
 * Content
 */
.wrapper {
	width: 900px;
	padding: 0 30px;
	background: #fefefe;
	margin: 0 auto;
}

#main {
	display: none;
}

/*
 * Table
 */
.donnees hr {
	margin: 20px 0;
}
.donnees form {
	padding: 5px 0;
}
.row_title, .row_login, .row_password {
	width: 150px;
	overflow: scroll;
}
.row_comment {
	width: 270px;
	overflow: scroll;
}
.row_img {
	width: 15px;
	visibility: hidden; /* use visibility to "fill" the space */
}
.row_form {
	background: rgba(50, 50, 50, 0.2);
	width: 910px;
}
/* display buttons when hovering the line */
.row:hover {
	background: rgba(50, 50, 50, 0.1);
}
.row:hover .row_img {
	visibility: visible;
}

/*
 * Footer
 */
.footer {
	opacity: 0.8;
	padding: 25px;
}
