body {
	background: #111;
	font-family: Courier;
}

.alert {
	color: red;
	font-weight: bold;
}

/*
 * Message, displayed top of window, transparent bg
 */
#message {
	position: fixed;
	top: 10px;
	width: 800px;
	height: 40px;
	line-height: 40px;
	padding: 10px;
	margin: 0 auto;
}
#success {
	width: 780px;
	height: 30px;
	line-height: 30px;
	padding: 10px 50px;
	background: rgba(0, 200, 0, 0.5);
	border: 2px dashed green;
}

/*
 * Content
 */
.wrapper {
	width: 90%;
	padding: 0 30px;
	background: #fefefe;
	margin: 0 auto;
}

#main {
	display: none;
}

/*
 * Table
 */
.donnees hr {
	margin: 20px 0;
}

/* only for data rows */
.row_title, .row_login, .row_password {
	width: 20%;
	overflow: auto;
}
.row_comment {
	width: 40%;
	overflow: auto;
	/* thanks CSS3! these 3 ruels allow to break all elements, including links */
	word-wrap: break-word;
	word-break: break-all;
	overflow-wrap: break-word; 
}
.row_img {
	width: 20px !important;
	visibility: hidden; /* use visibility to "fill" the space */
}
.row_form {
	background: rgba(50, 50, 50, 0.1);
}
/* display buttons when hovering the line */
.row:hover {
	background: rgba(50, 50, 50, 0.1);
}
.row:hover .row_img {
	visibility: visible;
}

/* for forms row */
.form_title, .form_login, .form_password {
	width: 20%;
}
.form_title input, .form_login input, .form_password input, .form_comment input {
	width: 95%;
}
.form_comment {
	width: 40%;
}

/*
 * Logout
 */
.logout {
	float: right;
	font-weight: bold;
}

/*
 * Footer
 */
.footer {
	font-size: 0.9em;
	padding: 15px 25px;
}
